@import url(global.css);


.topicos {
    display: flex;
    gap: 20px;
    color: #fff;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 45%;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.topicos h2 {
    color: #5b7365;
    font-weight: bold;
    margin-bottom: 5px;
}

.topicos img {
    width: 100%;
    border-radius: 5px;
}
