 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --fundo: #7e2929;
    --branco: #fff;
    --verde: #5b7365;
    --cinza: #ccc;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--fundo);
    color: var(--branco);
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    width: 100%;
    padding: 4rem;
}

header h1 {
    font-size: 2.5rem;
 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 4rem;
}

nav ul li a {
    color: var(--cinza);
    text-decoration: none;
    font-size: 2rem;
}

nav ul li a:hover,
nav ul li a:focus {
    color: var(--verde);
    font-weight: bold;
    width: 1000rem;
}

hr {
    background-color: var(--verde);
    border: 0;
    height: 0.2rem;
    width: 100vw;
    margin: 2rem 0;
}
