@import "./global.css";

    .historia {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .assunto {
        background-color: var(--fundo);
        padding: 1rem;
        border-radius: 0.5rem;
        width: 30%;
        text-align: center;
    }
    
    .assunto img {
        width: 80%;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .assunto p {
        font-size: 1.6rem;
    }
    
    .resumo {
        font-size: 2rem;
        padding: 3rem;
        border-radius: 0.5rem;
    }
    
