@import "./global.css";
   
    .pontos-turisticos {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }
    
    .pontos {
        border-radius: 0.8rem;
        padding: 1.5rem;
        text-align: center;
        width: 30rem;
    }
    
    .pontos img {
        width: 100%;
        height: auto;
        border-radius: 0.8rem;
        margin-bottom: 1rem;
    }
    
    .pontos h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: var(--verde);
    }
    
    .pontos p {
        font-size: 1.4rem;
    }
    
    