@import url(global.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%; 
    margin-right: 0rem;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    gap: 2rem;
}

section p {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 64.8rem;
}

section img{
    width: 40rem;
    border-radius: 0.4rem;
}